fastapi==0.75.2
pydantic==1.9.1
pandas==1.4.2
tables==3.7.0
python-dotenv==0.20.0
uvicorn[standard]==0.17.6
opencv-python==4.5.5.64
natsort==8.1.0
numpy==1.22.4
decord==0.6.0
PyYAML==6.0
pyinstaller==5.1
